<a href="https://colab.research.google.com/github/PankajDS1987/AutoMailSystem_using_Python/blob/master/FOR_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For Loops**
While vs For Loops
for initialize the iterator -- in case of while loop- it contains the condition

For Loop
The ierator starts form the beginning of the sequence. In each iteration, the iterator updates to the next value in the sequence.

In a for loop, we need to define 3 main points:
1. Name of the iterator.
2. The sequence to be traversed.
3. The set of operations to perform

for <var> in <iterable>:
    <statement(s)>
    
<iterable> is a collection of objectsâ€”for example, a list or tuple. The <statement(s)> in the loop body are denoted by indentation, as with all Python control structures, and are executed once for each item in <iterable>. The loop variable <var> takes on the value of the next element in <iterable> each time through the loop.

In [ ]:
print(range(5))

range(0, 5)

In [1]:
print(range(1))

range(0, 1)

In [2]:
for i in range(1):
  print(i)
  print('*')

0
*

In [5]:
n=1
for i in range(n):
  print(i)
  print('*')

0
*

In [8]:
n=5
for i in n:
  print(i)
  print('*')
  #it will not run since variable'n' has not been set as list or tupe or array so, iterator is not able to iterate.
  #let's understand an iterator itrates over the ojects (sequence of objects)
  #so unless we use range(function) with it, it won't be able to iterate.

TypeError: ignored

In [13]:
n=122
for i in range(n):
  print(i)
  #it prints till 121 (0 to 121)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121

In [14]:
n=int(input())
print(type,id(n))
#its printing the type of the variable n which belongs to a class category type.

12345
<class 'type'> 139818439768336

In [17]:
n=int(input())
print(n)
print(type(n))

12345
12345
<class 'int'>

In [20]:
n=list(map(int, input()))
print(n)

12345
[1, 2, 3, 4, 5]

In [28]:
print("#1st example:")
print('')
for i in n:
  print(i)
  
print("#2nd example:")
print('')
for i in n:
  print(n)
print("#3rd example:")

print('')
for i in range(len(n)):
  print(i)

print("#4th example:")
print('')
for i in range(n):
  print(n)

#1st example:

1
2
3
4
5
#2nd example:

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
#3rd example:

0
1
2
3
4
#4th example:

TypeError: ignored

**LIST is a pre-defined data type. in above example Range gives a range simply (0,5) when we print this range into a list it gives us the 5 values starting from 0)**

In [ ]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

its bit different from mathematics. in above example we are calling the function of range and passing 2 arguments. in previous example . It includes Starting point and excludes the end point while we try to print the range.

In [ ]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

**Printing ODD Numbers in a range** now in the range function we can add one more argument of the gap, e.g. size of 2 (incremented by 2 we can say)

In [ ]:
print(list(range(2,20,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
print(range(2,20,2))

range(2, 20, 2)

In [ ]:
print(list(range(1,21,3)))

[1, 4, 7, 10, 13, 16, 19]

In [ ]:
print(list(range(20,10,-4))) #here 10 is the last digit so it won't be included since we are decreasing.

[20, 16, 12]

## **Challenge 1: Sum of Number from 1 to N**

In [ ]:
n = int(input())

10

In [ ]:
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

55

Challenge 2: answet the output for the below code:

N = int(input())
for i in range(N):
  print(i, end =' ')

In [ ]:
N = int(input())
for i in range(N):
  print(i, end =' ')

12
0 1 2 3 4 5 6 7 8 9 10 11

In [ ]:
#print the first N natural number from 1 to N

n = int(input())
for i in range(1,n+1):
  print(i, end = ' ,')

3
1 ,2 ,3 ,

In [ ]:
#Print the Odd numbers from n to 1 -- eg. if n = 5 print(5 3 1), n = 10 print( 9 7 5 3 1)
n = int(input())
odd=0
for i in range (n,0,-2)

In [ ]:
n = int(input())
# check if a number is even
if n %2==0:
  for i in range(n-1,0,-2):
    print(i, end = ',')
else:
  for i in range(n,0,-2):
    print(i, end = ',')

12
11,9,7,5,3,1,

In [ ]:
#2nd approach Print the Odd numbers from n to 1 -- eg. if n = 5 print(5 3 1), n = 10 print( 9 7 5 3 1)
n = int(input())
if n%2 == 0:
  n -= 1
for i in range(n,0,-2):
  print(i)

24
23
21
19
17
15
13
11
9
7
5
3
1

#3rd approach Print the Odd numbers from n to 1 -- eg. if n = 5 print(5 3 1), n = 10 print( 9 7 5 3 1)

In [ ]:
#keeping the start point
n = int(input())
if n % 2 ==0:
  x = n-1
else:
  x=n
for i in range(x,0,-2):
  print(i, end = ',')

28
27,25,23,21,19,17,15,13,11,9,7,5,3,1,

# **#Pattern Printing**
#challenge - given n value as input print a square of stars of size NxN
n = 2 
#**
#**

n = 3
#***
#***
#***

n = 4
#****
#****
#****
#****

In [ ]:
#challenge - given n value as input print a square of stars of size NxN

n = int(input())
for i in range (n):
  print('*', end = '')

for i in range (n):
  print('*', end = '')

for i in range (n):
  print('*', end = '')

3
*********

In [ ]:
#with line break
#challenge - given n value as input print a square of stars of size NxN

n = int(input())
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')

5
*****
*****
*****
*****
*****

# using For Loop instead of repeating the code

In [ ]:
 N = int(input())
for i in range(N):
  print('*', end = ' ')

5
* * * * *

In [ ]:
N = int(input())
M = int(input())
for i in range(N):
    for j in range(M):
        print('*',end='')
    print('')

3
2
**
**
**

In [ ]:
N = int(input())
M = int(input())
for i in range(N):
    for j in range(M):
        print('*', end = '')
    print('')

3
2
**
**
**

PRINT Stairs as per the **input**

In [ ]:
n= int(input())
for i in range(1,n+1):
  for j in range(i):
    print('*',end='')
  print('')

5
*
**
***
****
*****

In [ ]:
#Checking PRIME number with IF Else

SyntaxError: ignored

In [ ]:
n=int(input())
if n>1:
    for i in range(2,n//2):
        if(n%i)==0:
            print(n,"is not a PRIME number")
    else:
        print(n,"is a PRIME number")
else:
    print(n,"Neither Prime Nor Composite")

#frequency of even
find the frequency of even numbers in the range 0-10 inclusive ?

In [29]:
#Method 1
print((10//2)+1)

6

In [30]:
#Method 2
even=0
for i in range(0, 11):
    if i%2==0:
        even=even+1
print(even)

6

In [35]:
n=5
for i in range(n):
  print(i,end='')
print(n,end='')
print("*")

012345*