<a href="https://colab.research.google.com/github/PankajDS1987/AutoMailSystem_using_Python/blob/master/FOR_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For Loops**

for initialize the iterator -- in case of while loop- it contains the condition

In [ ]:
print(range(5))

range(0, 5)

**LIST is a pre-defined data type. in above example Range gives a range simply (0,5) when we print this range into a list it gives us the 5 values starting from 0)**

In [ ]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

its bit different from mathematics. in above example we are calling the function of range and passing 2 arguments. in previous example . It includes Starting point and excludes the end point while we try to print the range.

In [ ]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

**Printing ODD Numbers in a range** now in the range function we can add one more argument of the gap, e.g. size of 2 (incremented by 2 we can say)

In [ ]:
print(list(range(2,20,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
print(range(2,20,2))

range(2, 20, 2)

In [ ]:
print(list(range(1,21,3)))

[1, 4, 7, 10, 13, 16, 19]

In [ ]:
print(list(range(20,10,-4))) #here 10 is the last digit so it won't be included since we are decreasing.

[20, 16, 12]

## **Challenge 1: Sum of Number from 1 to N**

In [ ]:
n = int(input())

10

In [ ]:
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

55

Challenge 2: answet the output for the below code:

N = int(input())
for i in range(N):
  print(i, end =' ')

In [ ]:
N = int(input())
for i in range(N):
  print(i, end =' ')

12
0 1 2 3 4 5 6 7 8 9 10 11

In [ ]:
#print the first N natural number from 1 to N

n = int(input())
for i in range(1,n+1):
  print(i, end = ' ,')

3
1 ,2 ,3 ,

In [ ]:
#Print the Odd numbers from n to 1 -- eg. if n = 5 print(5 3 1), n = 10 print( 9 7 5 3 1)
n = int(input())
odd=0
for i in range (n,0,-2)

In [ ]:
n = int(input())
# check if a number is even
if n %2==0:
  for i in range(n-1,0,-2):
    print(i, end = ',')
else:
  for i in range(n,0,-2):
    print(i, end = ',')

12
11,9,7,5,3,1,

In [ ]:
#2nd approach Print the Odd numbers from n to 1 -- eg. if n = 5 print(5 3 1), n = 10 print( 9 7 5 3 1)
n = int(input())
if n%2 == 0:
  n -= 1
for i in range(n,0,-2):
  print(i)

24
23
21
19
17
15
13
11
9
7
5
3
1

#3rd approach Print the Odd numbers from n to 1 -- eg. if n = 5 print(5 3 1), n = 10 print( 9 7 5 3 1)

In [ ]:
#keeping the start point
n = int(input())
if n % 2 ==0:
  x = n-1
else:
  x=n
for i in range(x,0,-2):
  print(i, end = ',')

28
27,25,23,21,19,17,15,13,11,9,7,5,3,1,

# **#Pattern Printing**
#challenge - given n value as input print a square of stars of size NxN
n = 2 
#**
#**

n = 3
#***
#***
#***

n = 4
#****
#****
#****
#****

In [ ]:
#challenge - given n value as input print a square of stars of size NxN

n = int(input())
for i in range (n):
  print('*', end = '')

for i in range (n):
  print('*', end = '')

for i in range (n):
  print('*', end = '')

3
*********

In [ ]:
#with line break
#challenge - given n value as input print a square of stars of size NxN

n = int(input())
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')
print('')
for i in range (n):
  print('*', end = '')

5
*****
*****
*****
*****
*****

# using For Loop instead of repeating the code

In [ ]:
 N = int(input())
for i in range(N):
  print('*', end = ' ')

5
* * * * *

In [ ]:
N = int(input())
M = int(input())
for i in range(N):
    for j in range(M):
        print('*',end='')
    print('')

3
2
**
**
**

In [ ]:
N = int(input())
M = int(input())
for i in range(N):
    for j in range(M):
        print('*', end = '')
    print('')

3
2
**
**
**

PRINT Stairs as per the **input**

In [ ]:
n= int(input())
for i in range(1,n+1):
  for j in range(i):
    print('*',end='')
  print('')

5
*
**
***
****
*****

In [ ]:
#Checking PRIME number with IF Else

SyntaxError: ignored

In [ ]:
n=int(input())
if n>1:
    for i in range(2,n//2):
        if(n%i)==0:
            print(n,"is not a PRIME number")
    else:
        print(n,"is a PRIME number")
else:
    print(n,"Neither Prime Nor Composite")