<a href="https://colab.research.google.com/github/PankajDS1987/AutoMailSystem_using_Python/blob/master/Sets_%26_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets and *Dictionaries*

# In Python Dictionaries are unordered
its a Key : Value Pair
e.g. Country : Capital
Dictionaries are implemented by {}


Errors:


Error 1:
Keyerror: 'Valye' -- this error comes when requested key does not exist in the dictionary

Error 2:
NameError                                 Traceback (most recent call last)
<ipython-input-9-b39ee79efedb> in <module>()
      1 # Indexing : it does not work in dictionaries since it does not keep any order so it does not know which key value was entered at first.
----> 2 nick_names(0)

NameError: name 'nick_names' is not defined

In [26]:
def nickname(name):
  if name == "Pankaj":
    return 'Panku'
  elif name == "Bandna":
    return 'Bandu'  

  return nickname

In [27]:
nickname("Pankaj")

'Panku'

In [28]:
#another approach can be using tuples inside list
def nicknames (name):
  names = [('')]

In [29]:
# Let's understand Dictionary

nick_name = {
    'Pankaj': 'Panku',
    'Bandna': 'Bandu',
    'Pritish': 'Prashu',
    'Shirish': 'Shishu'
  
}

In [30]:
print(nick_name)

{'Pankaj': 'Panku', 'Bandna': 'Bandu', 'Pritish': 'Prashu', 'Shirish': 'Shishu'}

In [32]:
# Indexing : it does not work in dictionaries since it does not keep any order so it does not know which key value was entered at first.
nick_names(0)

NameError: ignored

In [33]:
# INSERT

nick_name ['Mikul']= 'Micky'
nick_name ['Ajeet'] = 'Pinku'

In [34]:
# UPDATE
# if we try to reinsert the key:value it would undo the previous one and put the new one. We can update the Value but not the key -- it overrides the previous value
# If we have to update a key then we need to delete it first and then reinsert the key with correct INPUT
# Key is always unique -- you can generally have 2 same names in the class however in dictionary you would need to put something along withe key and make it unique
# We can give default values in order to avoid NONE

nick_name ['Mikul']= 'Micki'

In [ ]:
print(nick_name)

In [ ]:
# GET VALUE
# If Key exists but value doesn't then it would return None

print(nick_name.get("Pankaj"))
nick_name['Shirish']

In [38]:
# Assigning Multiple Values to a key - this could be achived by giving the values inside a list.
nick_name ['Random']=['Babu','Kaka','Munnu']
nick_name['Random']

['Babu', 'Kaka', 'Munnu']

In [ ]:
# Length of a Dictionary : its returned as per the sum of the keys inside the dictionary.
print(len(nick_name))

In [ ]:
nick_name.pop('Ajeet','Shirish')
# This would pop the first value only not the second one.

In [ ]:
print(nick_name)

In [ ]:
#Keys of Dict
print(nick_name.keys())

print() # printing empty line to keep a space between
for keys in nick_name:
  print(keys, end = " ") 

print() # printing empty line to keep a space between
for i in nick_name.keys():
  print(i, end = " ")

In [37]:
# IN OPERATOR
"Pritish" in nick_name

True

In [39]:
Devices = {
    "Pankaj": ["Laptop","Mobile","Power Bank","Dock"],
    "Pritish": ["Laptop","Mobile","Table"],
    "Mikul": ['Books',"Table"]
}

In [40]:
Devices.get('Bandna',['Mobile'])
#its getting the mobile value as it exists in the dictionary

['Mobile']

In [41]:
Devices['Bandna']

KeyError: ignored

# Given a String , print the charcaters and their count

input = 'Woolf Neovarsity'

print

W-1
0-3
l-1
f-1
' '-1
N-1
e-1
v-1
a-1
r-1
s-1
i-1
t-1
y-1

In [44]:
s1 = 'Woolf Neovarsity'
freq={}
for i in s1:
  if i in freq:
    freq[i] = freq [i] + 1
  else:
     freq[i] = 1
print(freq)

{'W': 1, 'o': 3, 'l': 1, 'f': 1, ' ': 1, 'N': 1, 'e': 1, 'v': 1, 'a': 1, 'r': 1, 's': 1, 'i': 1, 't': 1, 'y': 1}

In [48]:
test = "this is a test string"
ed={}
for i in test:
  ed[i]=1
print(ed)

{'t': 1, 'h': 1, 'i': 1, 's': 1, ' ': 1, 'a': 1, 'e': 1, 'r': 1, 'n': 1, 'g': 1}

In [50]:
test1 = "this is a test string"
ed1={}
for i in test:
  if i in ed1:
    ed1[i]=ed1[i]+1
# remember we can change value not the key within a dict.
# [''] so whatever is inside - this syntax would fetch the value of that key, so when t comes first time - value is 1 , then it falls in if condition ed1[i] = 1 , so we are doing 1+1 or ed[i]+1
  else:
    ed1[i]=1
print(ed1)

{'t': 4, 'h': 1, 'i': 3, 's': 4, ' ': 4, 'a': 1, 'e': 1, 'r': 1, 'n': 1, 'g': 1}

In [51]:
print(ed['a'])
#when we are asking to print 'a' which is a key - it gives its value as the output so in earlier we

1

**SETS**
Sets are Group of Unique elements.

Set1 and Set 2 
VENN Diagram
UNION

Difference S1-S2 = remove the common
make 2 different sets

In [52]:
# INITIALIZATION
set2 ={} 
#set2 is an empty dictionary

# Create Empty Set 
set1= set()
# Create Set with values - we use curly braces to create set-- for empty set we have to use set function 
set3={11,22,33}

In [54]:
print(type(set1), set1)
print(type(set2), set2)
print(type(set3), set3)

<class 'set'> set()
<class 'dict'> {}
<class 'set'> {33, 11, 22}

In [56]:
s4 = {1,2,3,4,4,5,3,5}
print(s4)
# So sets would remove the duplicte elements itself, this is the beauty or power of sets - we can use sets in some operations where we have to ensure there are no duplicates.

{1, 2, 3, 4, 5}

In [57]:
# INDEXING - Sets just like dictionary are not ordered so it wouldn't get any output when try to get value - so the TYPE ERROR
s4[2]
set3[1]
set1[0]

TypeError: ignored

In [58]:
#INSERT
colors ={'Red','White','Black','Yellow'}
print(colors)

{'Black', 'Red', 'White', 'Yellow'}

In [60]:
# with add function we can only add one value at a time.
colors.add('Green','Orange')
print(colors)
#we will get the error: TypeError: add() takes exactly one argument (2 given)

TypeError: ignored

In [61]:
colors.add('Green')
colors.add('Orange')
print(colors)

{'Orange', 'Green', 'Black', 'Red', 'White', 'Yellow'}

In [64]:
# UPDATE - 
colors.update('Skyblue','Purple','Brown')
print(colors)
# So you would need to update the multiple values inside a list with braces.

{'w', 'e', 'k', 'Skyblue', 'n', 'White', 'Purple', 'o', 'Red', 'y', 'l', 'r', 'Orange', 'Green', 'Brown', 'u', 'p', 'B', 'S', 'b', 'Black', 'P', 'Yellow'}

In [63]:
colors.update(['Skyblue','Purple','Brown'])
print(colors)

{'w', 'e', 'k', 'Skyblue', 'n', 'White', 'Purple', 'o', 'Red', 'y', 'l', 'r', 'Orange', 'Green', 'Brown', 'u', 'p', 'B', 'S', 'b', 'Black', 'P', 'Yellow'}

In [66]:
# Delete (.remove) - this function takes one argument only.
colors.remove('w')
print(colors)

{'e', 'k', 'Skyblue', 'n', 'White', 'Purple', 'o', 'Red', 'y', 'l', 'r', 'Orange', 'Green', 'Brown', 'u', 'p', 'B', 'S', 'b', 'Black', 'P', 'Yellow'}

In [67]:
# PRINT
for i in colors:
  print(i, end = ' ')

e k Skyblue n White Purple o Red y l r Orange Green Brown u p B S b Black P Yellow

In [68]:
# Intersections, Union, Difference (optional)

fruits = {'Papaya','Kiwi','Pomegranate','Apple','Watermelon','DragonFruit','Litchi'}
Healthy_fruits = {'Kiwi','Pomegrante','Orange','Apple'}

In [70]:
fruits.intersection(Healthy_fruits)
#intersection would give us the common elements between sets

{'Apple', 'Kiwi'}

In [71]:
# Union would give us the unique value while combining both the sets
fruits.union(Healthy_fruits)

{'Apple',
 'DragonFruit',
 'Kiwi',
 'Litchi',
 'Orange',
 'Papaya',
 'Pomegranate',
 'Pomegrante',
 'Watermelon'}

In [72]:
items = fruits.union(Healthy_fruits)
print(type(items), items)

<class 'set'> {'Orange', 'Watermelon', 'Papaya', 'Litchi', 'Pomegranate', 'Apple', 'Pomegrante', 'Kiwi', 'DragonFruit'}

In [73]:
# difference would give us the uncommon values by removing the common values.
t = fruits.difference(Healthy_fruits)
print(t)
# this would give us  fruits by removing common values as with healthy fruits.

{'Watermelon', 'Papaya', 'Litchi', 'Pomegranate', 'DragonFruit'}

In [74]:
print(Healthy_fruits.difference(fruits))
# this would give us Healthy fruits from healthy fruits list by removing the common fruits

{'Orange', 'Pomegrante'}

In [77]:
# we can use minus symbol to get the difference 
fruits - Healthy_fruits

{'DragonFruit', 'Litchi', 'Papaya', 'Pomegranate', 'Watermelon'}

In [78]:
Healthy_fruits - fruits

{'Orange', 'Pomegrante'}

Given two strings, find the unique characters that are there in the first string but not in the second string.

In [87]:
string_1 = "Fundamentals used in attempt of Long Term Investments"
string_2 = "Fundamentals of Options Trading"

In [84]:
def solution(string_1,string_2):
  s1 = set(string_1)
  s2 = set(string_2)

  s_diff = s1-s2
  return list(s_diff)

In [89]:
a = solution(string_1,string_2)
print(a)
# it checks for each character and returns the chars not present in set2 but present in set 1

['v', 'L', 'I']