<a href="https://colab.research.google.com/github/PankajDS1987/AutoMailSystem_using_Python/blob/master/Tuples_%26_Strings_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# LISTS are mutable - you can change (modify/remove) data within list
#TUPLES are immutable data types - these are generally used where we don't have to change the data e.g. defining a week or year or planets or some record that you would not want to be changed.

In [6]:
t = ("Rahul", "Pankaj")
print(type(t))

et=("Rahul")
print(type(et))

tup=(11)
print(type(tup))

tuple1=()
print(type(tuple1))

tuple2=("Pankaj",)
print(type(tuple2))

tuple3 = (11,)
print(type(tuple3))

#by using comma we tell it that there can be another value coming in future though we are assigning single value at this time. It will consider it as tuple then.

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [9]:
t= (11,21,32)
l=list(t)
lt=tuple(l)

print(type(t))
print(type(l))
print(type(lt))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [11]:
for i in lt:
  print(i,end=' ')

11 21 32

In [26]:
print(len(lt))

3

**STRINGS** - its a sequence of characters
characters can be alphabets, numbers, special characters, spaces.
You need to assign a string inside 'string' OR "string" OR "'string"' OR """string""" 
ASCII :: American Standard Code for Information Exchange
Since computers understand only binary numbers so question arises how do they know or remember the characters.
so there is a standard maintained to bring everyone to a common understanding and values gets 

e.g.
input: ord('Y'), ord('y') 
output: (89, 121)

In [16]:
ord('a')

97

In [18]:
"a"==int(97)

False

In [20]:
ord('97')

TypeError: ignored

In [14]:
ord('Y'), ord('y')

(89, 121)

In [25]:
chr(97)
chr(9)

'\t'

# Capitalize would set first letter of first world to capital
# Title would set every word's first letter to Capital

In [31]:
txt = "text typed is in small characters."
print(txt)
txt1 = txt.capitalize
print(txt1)
print(txt.capitalize())
print(txt.title())

text typed is in small characters.
<built-in method capitalize of str object at 0x7efefbcd4630>
Text typed is in small characters.
Text Typed Is In Small Characters.

In [34]:
txt.count("i")
#count functions gets the count of character/s requested.

2

In [36]:
txt.replace("a","*")
#replace takes 2 arguments replacable character and to be replaced with character

'text typed is in sm*ll ch*r*cters.'

In [37]:
txt.split()

['text', 'typed', 'is', 'in', 'small', 'characters.']

In [38]:
txt.split("i")

['text typed ', 's ', 'n small characters.']

In [41]:
num="9876"
num.split()

['9876']

In [42]:
num="9 8 7 6"
num.split()

['9', '8', '7', '6']

In [43]:
name="Pankaj"
for i in name:
  print(i)

P
a
n
k
a
j

In [44]:
for i in txt:
  print(i)

t
e
x
t

t
y
p
e
d

i
s

i
n

s
m
a
l
l

c
h
a
r
a
c
t
e
r
s
.

In [46]:
print(txt[2]) # prints the 3 character(i.e. index 0)
print(txt[-1]) # prints the dot
#

x
.

In [47]:
print(name.reverse)

AttributeError: ignored

In [49]:
#Palindrome -- a word which when reversed would mean the same thing, there are many such words i.e. mom dad radar level tat did etc.

name = input()

reverse = name[::-1]
print(reverse)

if name == reverse:
  print("Yes")
else:
  print("No")

Pankaj
jaknaP
No

In [50]:
for i in range(len(name)):
  print(i,end=' ')
  #this prints the index not the characters when we use the range.

0 1 2 3 4 5

In [ ]:
for i in name:
  print(i)
  print(ord(i),end=' ')