<a href="https://colab.research.google.com/github/PankajDS1987/AutoMailSystem_using_Python/blob/master/Tuples_%26_Strings_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTS are mutable - you can change (modify/remove) data within list
#TUPLES are immutable data types - these are generally used where we don't have to change the data e.g. defining a week or year or planets or some record that you would not want to be changed. 

You can not change the data as in the case of list 
e.g ls[o] = "syt"

**Operation  - Time**

**Index -  O(1)** - order of 1 since we are finding one element
**Slice - 0(k)** - order of K - K being the element - give it the index and it would returb back the elemtn
in operator (n) - Order of n - as it would go through the n elements present in the tuple.

best case when its at the first index that was requested
worst is when element is not there - as it would go through entire typle

![image.png]( )

Tuple Characterstics

when we create a tuple and deletes it -- this results in memory fragmentation

To reduce memory fragmentation and for performance, Python tuples are reused (i.e.) the memory id of the previously cleared tuples of the same size is used for a new tuple

e.g.

tup = (2,3,11)
print(id(tup))

tup1 =(4.5.34)
print(id(tup1))

it may be same ... generally python does to avoid overallocate
when the size is same - it tries to give same size free tuple earlier created

# **Conclusion:**

**Use the appropriate data structure for the appropriate purpose.**
e.g if you requirement is  to change the data/collection regularly then go for LIST -without any choice

if the collection has to remain same -would not be changed
then select TUPLE -- e.g. defining a calendar etc.

**Returning collection from function, use a tuple**
e.g . if you have to return a collection from the function - use TUPLE instead of LIST 
there is no point of wasting the memory operation to make it expensive.
because no change in the data is going to happen when processing in the function.
if you don't make tuple and just give values like 1,2,3,4 the PYTHON would itself make it a tuple and give it back.


**List are more complex to implement and hence need 3000+ lines of code while TUPLE requires only 1000 lines of code**

In [ ]:
t = ("Rahul", "Pankaj")
print(type(t))

et=("Rahul")
print(type(et))

tup=(11)
print(type(tup))

tuple1=()
print(type(tuple1))

tuple2=("Pankaj",)
print(type(tuple2))

tuple3 = (11,)
print(type(tuple3))

#by using comma we tell it that there can be another value coming in future though we are assigning single value at this time. It will consider it as tuple then.

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
t= (11,21,32)
l=list(t)
lt=tuple(l)

print(type(t))
print(type(l))
print(type(lt))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [ ]:
for i in lt:
  print(i,end=' ')

11 21 32

In [ ]:
# packing and unpacking through tuple
# order is maintained.
a = (1,2,3)
x,y,z=a
print(a)
print(x,y,z)

(1, 2, 3)
1 2 3

In [ ]:
print(len(lt))

3

In [ ]:
tValue = ("Pankaj",26,"Palampur",87)
print(max(tValue))

TypeError: ignored

In [ ]:
tValue[0]=50

TypeError: ignored

In [ ]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

**STRINGS** - its a sequence of characters
characters can be alphabets, numbers, special characters, spaces.
You need to assign a string inside 'string' OR "string" OR "'string"' OR """string""" 
ASCII :: American Standard Code for Information Exchange
Since computers understand only binary numbers so question arises how do they know or remember the characters.
so there is a standard maintained to bring everyone to a common understanding and values gets 

e.g.
input: ord('Y'), ord('y') 
output: (89, 121)

In [ ]:
ord('a')

97

In [ ]:
"a"==int(97)

False

In [ ]:
ord('97')

TypeError: ignored

In [ ]:
ord('Y'), ord('y')

(89, 121)

In [ ]:
chr(97)
chr(9)

'\t'

# Capitalize would set first letter of first world to capital
# Title would set every word's first letter to Capital

In [ ]:
txt = "text typed is in small characters."
print(txt)
txt1 = txt.capitalize
print(txt1)
print(txt.capitalize())
print(txt.title())

text typed is in small characters.
<built-in method capitalize of str object at 0x7efefbcd4630>
Text typed is in small characters.
Text Typed Is In Small Characters.

In [ ]:
txt.count("i")
#count functions gets the count of character/s requested.

2

In [ ]:
txt.replace("a","*")
#replace takes 2 arguments replacable character and to be replaced with character

'text typed is in sm*ll ch*r*cters.'

In [ ]:
txt.split()

['text', 'typed', 'is', 'in', 'small', 'characters.']

In [ ]:
txt.split("i")

['text typed ', 's ', 'n small characters.']

In [ ]:
num="9876"
num.split()

['9876']

In [ ]:
num="9 8 7 6"
num.split()

['9', '8', '7', '6']

In [ ]:
name="Pankaj"
for i in name:
  print(i)

P
a
n
k
a
j

In [ ]:
for i in txt:
  print(i)

t
e
x
t

t
y
p
e
d

i
s

i
n

s
m
a
l
l

c
h
a
r
a
c
t
e
r
s
.

In [ ]:
print(txt[2]) # prints the 3 character(i.e. index 0)
print(txt[-1]) # prints the dot
#

x
.

In [ ]:
print(name.reverse)

AttributeError: ignored

In [ ]:
#Palindrome -- a word which when reversed would mean the same thing, there are many such words i.e. mom dad radar level tat did etc.

name = input()

reverse = name[::-1]
print(reverse)

if name == reverse:
  print("Yes")
else:
  print("No")

Pankaj
jaknaP
No

In [ ]:
for i in range(len(name)):
  print(i,end=' ')
  #this prints the index not the characters when we use the range.

0 1 2 3 4 5

In [ ]:
for i in name:
  print(i)
  print(ord(i),end=' ')

In [ ]:
s='python for data science'

print(s[-3:])
print(s[2])
print(s[::-1])

nce
t
ecneics atad rof nohtyp

In [ ]:
#Multiple approachs to Check an element in a list

For a given list list1, which of the following methods are true for checking if the element 6 is present in the list?

list1=[2,12,45,6,8,32,17]

In [ ]:
# 1st Method:
for i in list1:
  if(i==6):
    print('Element exists')

IndentationError: ignored

In [ ]:
# 2nd Method
if (6 in list1):
     print('Element exists')

Element exists

In [ ]:
print("")

In [ ]:
# 3rd Method
e_count = list1.count(6)
if e_count > 0:
  print("Yes, 6 exists in list")
else:
  print("No, 6 does not exists in list")

Yes, 6 exists in list

fruit

KeyboardInterrupt: ignored

In [ ]:
A = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
for i in A:
  print(i, A.count(i))

10 3
8 4
5 2
2 2
10 3
15 1
10 3
8 4
5 2
8 4
8 4
2 2

In [ ]:
name = "Pankaj Kumar"
age=34

print("my name is",name,"and age is",age)
print("my name is ")

my name is Pankaj Kumar and age is 34

In [ ]:
ord("A")

65

In [ ]:
name="Pankaj"
Cname=name.upper()
print(Cname)

PANKAJ

In [ ]:
'p'.isupper()

False

In [ ]:
"P".isupper()

True

In [ ]:
x="abc"
y="xyz"
x.join(1)
print(x)

TypeError: ignored

In [ ]:
print("".join(x)*3)

abcabcabc

In [ ]:
#is Alpha
"PankajKumar".isalnum()

True

In [ ]:
"PankajKumar".isalpha()

In [ ]:
"11".isdigit()

True

In [ ]:
"123a".isdigit()

False

In [ ]:
"12pan".isalnum()

True

In [ ]:
"".isspace()

False

In [ ]:
"".istitle

In [ ]:
".".isdecimal()

False

In [ ]:
n = "Pankaj"
n.split()
print(n)

Pankaj

In [ ]:
s = "hello"

In [ ]:
print(s[0:9])

hello

In [ ]:
print( s[: : -1] )

olleh

In [ ]:
s[2] = ‘a’

SyntaxError: ignored

In [ ]:
print( s[9] )

IndexError: ignored

In [ ]:
ate="08/12/1998"
ot=ate[-4:]+"/"+ate[-7:-5]+"/"+ate[:2]
print(ot)
t=ate[3:5]+"/"+ate[:2]+"/"+ate[-4:]
print(t)

1998/12/08
12/08/1998

In [ ]:
date="08/12/1998"
output=date[3:5]+"/"+date[:2]+"/"+date[-4:]
output1=date[-4:]+"/"+date[-7:-5]+"/"+date[:2]
print(output)
print(output1)

12/08/1998
1998/12/08

#if a = “Random String”, then which of the following variables has the same string value?

In [ ]:
a = "Random String"
b = a
c = str(a)
d = a[:]

print(a)
print(b)
print(c)
print(d)

Random String
Random String
Random String
Random String

In [ ]:
word = "aCademy"
word1 = word.upper()
word2= word.lower()
print(word1)
print(word2)

ACADEMY
academy

In [ ]:
a = ""
print(type(a))
print(a)

<class 'str'>

In [ ]:
t="here"
a = a+t
print(a)

here

In [ ]:
What is the output of the following python statement?

print(“hello”+1+2+3)

SyntaxError: ignored

In [ ]:
print("Hello"+"1"+"2"+"3")

Hello123

In [ ]:
def change_char(s):
    '''Input: s takes the string as input
       Output:return the resultant string'''
    ls=list(s)   
    res = ''
    # YOUR CODE GOES HERE
    #letter=ls(0)
    for i in s:

        if i==letter:
            i="$"
            res+=i
        else:
            res+=i
    
    return res

In [ ]:
res= change_char("Telephone")
print(res)

TypeError: ignored