<a href="https://colab.research.google.com/github/PankajDS1987/AutoMailSystem_using_Python/blob/master/WHILE_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

While Loop works like an IF Else (itself) as it checks for conditions if its true or not and then executes the next (mentioned in next block) accordingly.

** Take total number of Inputs and run a loop to run that many times and also print the sum of the digits of that **

``

In [ ]:
T=int(input())
i=1
while i < T:
    n=int(input())
    sum=0
    while n>0:
        rem=n%10
        n//=10
        sum= (sum+rem)    
    print(sum)
    i+=1

4
123
6
234
9
4535
17

** Taking User Input --and Creating Table upto 10 multiples**

In [ ]:
A=int(input())
i=1
while i<=10:
    print(A,"*",i,"=",A*i)
    i+=1

4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

**Find A power B**



> Indented block

In [ ]:
#Given an integer N, print the corresponding stair pattern for N.

#Approach 1:

N=int(input())
for i in range(1,N+1):
    print('*'*i)

5
*
**
***
****
*****

In [ ]:
#Approach 2:
N=5
i=1
while i <=N:
  print('*'*i)
  i+=1

*
**
***
****
*****

In [ ]:
#Approach3:
N=5
i=1
for i in range(1,N+1):
  for j in range(i):
    print('*',end='')
  print()

*
**
***
****
*****

In [ ]:
variable_name = ()
id(variable_name)
type(variable_name)

tuple

In [ ]:
N=15
if N>=10 and N<=20:
  print("yes")

yes

Write a program that asks the user to input a number N.
If N is between 10 and 20, your program should ask the user to enter another number M and then print the sum of the two numbers.
If the sum is now over 100, your program should also print "That is a large sum!" on a new line.
If N is not between 10 and 20, your program should not print anything.

Input Format

The first line in the input is an integer N.
If N is between 10 and 20 (both included), then the second line is there in the input containing another integer M.


Output Format

If N is not between 10 and 20, there is no output.
If N is between 10 and 20, the first line of the output contains N + M.
If N + M is greater than or equal to 100, the second line of the output contains That is a large sum!

In [ ]:
N=int(input())
if N>=10 and N<=20:
  M=int(input())
  sum=N
  sum+=M
  if sum>100:
    print("That is a large sum!")
  else:
    print(sum)
else:
  pass

15
90
That is a large sum!

In [ ]:
N=5
for i in range(N):
  print("*")

*
*
*
*
*

In [ ]:
N=1
for i in range(2):
  print("8")

8
8

In [ ]:
A=int(input())
B=int(input())
res=floor(A/B)
print(res)

24
72

NameError: ignored

In [4]:
print(bool(True))
print(bool(False))

True
False

In [6]:
for i in range(5,0):
  print(i)
#it will not print since range start is 5, end is 0, so, it will not be able to increment by 1 which is default until we say (5,0,-1 )

In [3]:
print(1)
print(0)

1
0

In [2]:
if True:
  print(bool)

<class 'bool'>

In [ ]:
n=10
i=0
while i<=10:
  if i%2:

In [10]:
if 10%2:
  print(1)
else:
  print(2)
#here if statement checks for True which by default is 1 - so its testing (if for 0 or 1)- -- here if is getting 0 on calculation of 10 modulus 2 -- so its false, when its false it will do nothing.

2